{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": true
      }
    }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "#shared": "./src/shared",
        "#main": "./src/main",
        "#controllers": "./src/infrastructure/controllers",
        "#middleware": "./src/infrastructure/middleware",
        "#providers": "./providers",
        "#database": "./database",
        "#config": "./config"
      }
    }]
  ]
}
